.nav_bar{
    display: flex;
    justify-content: space-between;
    background: #762009;
    padding: 0 10rem 0 10rem;
    align-items: center;

}

h1{
    color: white;
}

.header_cart{
    display: flex;
    background-color: #601703;
    padding: 0px 40px 0px 40px;
    color: white;
    border-radius: 200px;
}

.cart_img{
    height: 24px;
    margin-top: 25px;
}

.your_cart{
    padding: 0 25px 0 5px;
}

.cart_item_count{
    background-color: #c51818;
    padding: 0 13px 0 13px;
    border-radius: 14px;
}

.restaurant_banner{
    aspect-ratio: 16/2;
    overflow: hidden;
    width: 100%;
}
.restaurant_banner img{
    width: inherit;
}

